<div class="container" style="padding-bottom:20px;">
        <div class="row text-center">
            <div class="center-align col-md-10 col-md-offset-1">
                <h2 style="padding-bottom:10px;">Access over Ownership</h2>
                <p>      
                    We build products that make people connected and allow them to access goods or services without the need to own them.
                </p>
            </div>	
        </div>

      <div class="row" style="margin-top:20px;">
        <div class="center-align col-sm-12 col-md-10 col-md-offset-1">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <i class="fa fa-star fa-2x" style="color:#000000" aria-hidden="true"></i>
                <p style="padding-bottom:5px;padding-top:10px;font-size:16px;"><b>Powering Sharing Economy Marketplaces</b></p>	
                <p>
                    We are building an ecosystem which allows Anyone to easily start Peer-to-Peer, On-Demand and Sharing Economy marketplaces. Our objective is democritize the process of creating online marketplaces.
            </div> 
            <div class="col-xs-12 col-sm-6 col-md-6">
             <i class="fa fa-cubes fa-2x" style="color:#000000" aria-hidden="true"></i>
                <p style="padding-bottom:5px;padding-top:10px;font-size:16px;"><b>Building decentralized Peer-to-Peer Networks</b></p>
                <p>
                        VQ Marketplaces are communities that exist as decentralized autonomous organizations on the VQ Network. Anyone will be able to deploy districts to the network free of charge, forever.
                </p>
            </div>	
           </div> 
        </div> 

   </div>